<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<persistence xmlns="http://java.sun.com/xml/ns/persistence"
             version="2.0">
    <persistence-unit name="gklients"
                      transaction-type="RESOURCE_LOCAL">
        <class>ru.glavkniga.gklients.entity.ClientDistributionSettings</class>
        <class>ru.glavkniga.gklients.entity.Origin</class>
        <class>ru.glavkniga.gklients.entity.ElverSubscription</class>
        <class>ru.glavkniga.gklients.entity.Riz</class>
        <class>ru.glavkniga.gklients.entity.Tarif</class>
        <class>ru.glavkniga.gklients.entity.Magazine</class>
        <class>ru.glavkniga.gklients.entity.MagazineIssue</class>
        <class>ru.glavkniga.gklients.entity.Schedule</class>
        <class>ru.glavkniga.gklients.entity.EmailTemplate</class>
        <class>ru.glavkniga.gklients.entity.Client</class>
        <class>ru.glavkniga.gklients.entity.MunObraz</class>
        <class>ru.glavkniga.gklients.entity.RizContract</class>
        <class>ru.glavkniga.gklients.entity.Test</class>
        <class>ru.glavkniga.gklients.entity.TestEmail</class>
        <class>ru.glavkniga.gklients.entity.TestMark</class>
        <class>ru.glavkniga.gklients.entity.ClientService</class>
        <class>ru.glavkniga.gklients.entity.WebstieQueue</class>
        <class>ru.glavkniga.gklients.entity.WebsiteQueueFilter</class>
        <class>ru.glavkniga.gklients.entity.Distribution</class>
        <class>ru.glavkniga.gklients.entity.DistributionSubscription</class>
        <class>ru.glavkniga.gklients.entity.OnetimeMailing</class>
        <class>ru.glavkniga.gklients.entity.Attachment</class>
        <class>ru.glavkniga.gklients.entity.Token</class>
        <class>ru.glavkniga.gklients.crudentity.GKNews</class>
        <class>ru.glavkniga.gklients.crudentity.GKNewsImage</class>
        <class>ru.glavkniga.gklients.entity.MailingStatistics</class>
        <class>ru.glavkniga.gklients.entity.FailedEmail</class>
    </persistence-unit>
</persistence>
